:root {
  --main-color: #ff6347; /* Bright orange */
  --accent-color: #4caf50; /* Vibrant green */
  --background-color: #f9f9f9; /* Light gray */
  --text-color: #333333; /* Dark gray */
  --additional-accent-color: #3f51b5; /* Deep blue */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
